.topnav {
    /* background-color: rgb(210,159,25); */
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 20px;
    background: linear-gradient(270deg, #2ed4a9, #2e8cd4);
    background-size: 400% 400%;
    animation: AnimationName 6s ease infinite;
  }
  
  /* Style the links inside the navigation bar */
.topnav button {
    background-color: transparent;
    width: 33%;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0 auto;
    display: inline;
    /*border: 3px solid rgb(210, 159, 25);*/
    border: none;
}
.topnav form {
    margin: 0 auto;
    display:inline;
    border:none;
}

/* Change the color of links on hover */
.topnav button:hover {
  background-color: mediumseagreen;
  color: white;
}

/* Add a color to the active/current link */
.topnav button.active {
  background-color: #2e8cd4;
  color: white;
}

.gradient {
    background: linear-gradient(270deg, #2ed4a9, #2e8cd4);
    background-size: 400% 400%;
    width: 100%;
    height: 100%;
    animation: AnimationName 6s ease infinite;
    display: flex;
    justify-content:center;
}

@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.card{
    width:80%;
    height:80%;
    margin:auto;
    padding:2%;
    border-radius: 5%;
    background-color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.searchBox{
    width: 20%;
    height: 100%;
    border-radius: 5px;
    padding-left: 2%;
    padding-right: 2%;
}

.searchButton{
    width: 10%;
    height: 100%;
    background-color: #2e8cd4;
    color: white;
    border-radius: 5px;
}

.list{
    width:100%;
    height: 100%;
    text-align: left;
}

table{
    display:block;
    overflow-y: auto;
    width:auto;
    height: 30%;
    border-radius: 5px;
    background-color: lightgray;
    padding: 1%;
    border-style: solid;
}
tr:hover{

    background-color: lightblue
}